:root {
  --primary: #fff; /* text-slate-50 */
  --primary-300: #f1f5f9; /* text-slate-100 */
  --primary-700: #e2e8f0; /* bg-slate-200 */
  --primary-hover: #cad5e2; /* text-slate-300 */
  --color: #1e293b; /* bg-slate-800 */

  --dark-primary: #1d293d; /* bg-slate-800 */
  --dark-primary-700: #314158; /* bg-slate-700 */
  --dark-primary-800: #1d293d; /* bg-slate-800 */
  --dark-primary-900: #0f172b; /* bg-slate-900 */
  --dark-primary-950: #020618; /* bg-slate-950 */
  --dark-primary-hover: #1d293d; /* bg-slate-800 */
  --dark-color: #f1f5f9; /* text-slate-100 */

  --accent: #efb100; /*bg-yellow-500; */
  --error: #ef4444; /* bg-red-500; */
  --gray: #64748b; /* bg-slate-500; */
}
/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #253341;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #253341 inset;
  box-shadow: 0 0 0px 1000px #253341 inset;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
}

.mobile-container {
  margin: 0 auto;
  max-width: 576px;
}
body {
  @apply text-color bg-primary-light dark:bg-dark-primary-dark dark:text-dark-color min-h-[100vh] text-xl py-6 px-2;
}
